.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal__dialog {
  position: relative;
  width: auto;
  pointer-events: none;
  margin: 1rem;
}

@media (min-width: 576px) {
  .modal__dialog {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal-dialog__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  pointer-events: auto;
  background-color: rgb(208, 116, 45);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
}

.modal-dialog__content > * {
  color: black;
}

.modal-content__header {
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.modal-content__body {
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  padding: 0px 1rem 1rem;
}
