._button {
  margin: 20px;
  background: #6941c6;
  border: 1px solid #6941c6;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #ffffffde;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
}

._button:hover {
  background-color: #535bf2;
}

.btn_formStart {
  min-width: 125px;
}
