.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game__players {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px auto;
}

.game__players_player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  max-width: 200px;
  overflow: hidden;
}

.game__players_player_active {
  color: rgb(79, 240, 79);
}

.game__players_player > img {
  margin-top: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.game__board {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
